body {
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header{
    background-color: #efc050;
}

img{
    height: 200px;
    margin-left: auto;
    margin-right:auto;
    display: block;
    padding-top:15px;
}

h1{
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 10px;
}

.callout{
    margin:30px 70px 20px 70px;
    background-color:whitesmoke ;
    border-radius: 10px;
}

label{
    color:darkslategrey;
    font-weight:bolder;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
}

.inputBox{
    border-radius: 10px;
    text-emphasis: center;
    border-color: blue;
}

form{
    /* display: flex; */
  /* justify-content: center; */
  margin-left:180px;
}

#slogan{
    color:darkslategrey;
    font-weight:bolder;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    margin-left:10px;
}

#tripDetails{
    color:darkslategrey
}

.button{
    margin:20px 50px 50px 50px;
    border-radius: 10px;
    font-size: 15px;
    font-weight:bolder;
    letter-spacing: 2px;
}

.button:hover{
    background-color:#efc050;
    color:blue;
    box-shadow: 5px 10px;
}

#covid{
    color:red;
    text-align:center;
    font-weight:bolder;
    margin:5px 100px 100px 100px;
}

#info-appears-here{
    background-color:whitesmoke;
    margin:15px;
    padding:10px;
}

.displayInfo{
    border-style:solid;
    border-radius: 10px;
    border-color: #efc050;
    padding:10px 10px 10px 20px;
    margin:10px;
    letter-spacing: 2px;
    color:darkslategrey;
    font-weight:bolder;


}

.displayInfo:hover{
    background-color:whitesmoke;
    color:blue;
    box-shadow: 5px 10px;
    font-weight:bolder;

}

